/* Background Texture */
body {
	background-color: #8a008a;
	background-image: url(/styles/cream-dust/png) repeat 0 0;
	height: 100vh;
  	width: 100vw;
  	 margin: 0;
  	padding: 0;
}

/* Fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Overpass', sans-serif;
}

/* Common Elements */
h1, h2, h3 { 
    text-shadow: 1px 1px 1px #ccc;
}

.displayCase {
	text-align: center;
	margin: 3em;
	padding: 10px;
	box-shadow: 0 0 0.15em 0.15em #ccc;
}

.LinearGuages {
  	margin-top: -9em;
  	margin-bottom: -20em;
}

.parallax {

  /* The image used */
  background-image: url("https://www.htmlcsscolor.com/preview/gallery/2196F3.png");

  /* Set a specific height */
   height: 100%;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.RadialGuages {
	width: 50%;
	padding: 0;
	margin-top: -10em;
	margin-bottom: 12em;
}

/* Unique elements */
#mainTitle {
	background: white; 
	width: 25%; 
	height: 25%;
}

#mainTitle h1 {
	margin-top: 0.25em;
}
#mainHeader {
	margin-top: 1em;
	margin-left: 4em;
	margin-right: 4em;
}

#SP500PriceContainer {
	height: 50%;
	width: 40%
}

#SP500Price {
	top: 50%;
	left: 50%;
	margin-top: 0.15em;
	margin-left: 0.25em;
	font-weight: bolder;
}

#SP500Underline
{
	height: 3px;
	text-align: center;
	border-width: 0;
	padding: 0;
	opacity: 0.5;
	margin-top: 0em;
	margin-left: 2.5em;
	margin-right: 2.5em;
}

#SP500LinearPD {
	margin-bottom: -14em;
}

#StrengthofEquity
{
	margin-top: -10em;
	margin-bottom: 2em;
	font-size: 25px;
	border: 1px solid;
	width: 25%;
	box-shadow: 0 0 0.05em 0.05em #ccc;

}