/* Variable declarations */
:root {
	--fade-in-time: 3s;
	--move-up-start-pos: 1em;
}
/* Background Texture */
body {
	background-color: #8a008a;
	background-image: url(/styles/cream-dust/png) repeat 0 0;
	height: 100vh;
  	width: 100vw;
  	margin: 0;
  	padding: 0;
}

/* Fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Overpass', sans-serif;
}

/* Common Elements */
h1, h2, h3 { 
    text-shadow: 1px 1px 1px #ccc;
}

.appearance, .appearance > * {
	opacity: 0.0;
	animation: fadeIn ease var(--fade-in-time);
	-webkit-animation: fadeIn ease var(--fade-in-time);
	animation-fill-mode: forwards;
}

.displayCase {
	text-align: center;
	margin: 3em;
	padding: 10px;
	box-shadow: 0 0 0.15em 0.15em #ccc;
}

.LinearGuages {
  	margin-top: -9em;
  	margin-bottom: -20em;
}

.parallax {

  /* The image used */
  background-image: url("parallax-background-2.png");

  /* Set a specific height */
  height: 100%;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.RadialGuages {
	width: 50%;
	padding: 0;
	margin-top: -10em;
	margin-bottom: 12em;
}

.SecondaryDisplayCase {
	position: relative;
	color: white;
	text-align: center;
	padding: 2px;
	margin: 2em;
	width: 20%;
	top: -5%;
}

.SecondaryDisplayCase h2 {
	border-bottom: 3px solid white; 
	position: relative;
	top: 30%;
}

.SecondaryDisplayCase div {
	font-size: 15px;
	position: relative;
	top: 30%;

}

.untouched, .untouched > * {
	opacity: 1;
	animation: fadeOut ease var(--fade-in-time);
	-webkit-animation: fadeOut ease var(--fade-in-time);
	animation-fill-mode: forwards;

}

/* Unique elements */
#mainTitle {
	background: white; 
	width: 32%; 
	height: 10%;
    position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
    overflow: hidden;

  	
  	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
 }

 #mainTitle div {
 	overflow: hidden; 
 	white-space: nowrap; 
 	margin-top: -1em;
    position: fixed;
 }

#mainTitle div h1 {
	position: relative;
	top: 50%;
	margin-top: 0.5em;
	right: 5%;
}

#mainGraphic {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	  /* Create the parallax scrolling effect */
    overflow: hidden;
    position: fixed;
}

#mainHeader {
	margin-top: 1em;
	margin-left: 4em;
	margin-right: 4em;
}

#SP500PriceContainer {
	height: 50%;
	width: 40%
}

#SP500Price {
	top: 50%;
	left: 50%;
	margin-top: 0.15em;
	margin-left: 0.25em;
	font-weight: bolder;
}

#SP500Underline
{
	height: 3px;
	text-align: center;
	border-width: 0;
	padding: 0;
	opacity: 0.5;
	margin-top: 0em;
	margin-left: 2.5em;
	margin-right: 2.5em;
}

#SP500LinearPD {
	margin-bottom: -14em;
}

#StrengthofEquity
{
	margin-top: -10em;
	margin-bottom: 2em;
	font-size: 25px;
	border: 1px solid;
	width: 25%;
	box-shadow: 0 0 0.05em 0.05em #ccc;

}

#logo
{
	width: 25%;
	margin: 0;
	top: 33%;
	right: 5%;
	border: 2px solid #ccc;
	border-radius: 10px; 
}

#logo img 
{
	position: relative;
	right: 10%;
	width: 120%;
	height: auto;
}

/* Key Frames */
@keyframes fadeIn {
  0% {
    opacity:0;
    margin-top: var(--move-up-start-pos);
  }
  100% {
    opacity:1;
    margin-top: calc(var(--move-up-start-pos) * -1);
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
    margin-top: var(--move-up-start-pos);
  }
  100% {
    opacity:1;
    margin-top: calc(var(--move-up-start-pos) * -1);

  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
    margin-top: var(--move-up-start-pos);
  }
  100% {
    opacity:1;
    margin-top: calc(var(--move-up-start-pos) * -1);
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
    margin-top: var(--move-up-start-pos);
  }
  100% {
    opacity:1;
    margin-top: calc(var(--move-up-start-pos) * -1);
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
    margin-top: var(--move-up-start-pos);
  }
  100% {
    opacity:1;
    margin-top: calc(var(--move-up-start-pos) * -1);
  }
}

@keyframes fadeOut {
  0% {
    opacity:1;
    margin-top: calc(var(--move-up-start-pos) * -1);
  }
  100% {
    opacity:0;
    margin-top: var(--move-up-start-pos);
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
    margin-top: calc(var(--move-up-start-pos) * -1);
  }
  100% {
    opacity:0;
    margin-top: var(--move-up-start-pos);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
    margin-top: calc(var(--move-up-start-pos) * -1);
  }
  100% {
    opacity:0;
    margin-top: var(--move-up-start-pos);
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
    margin-top: calc(var(--move-up-start-pos) * -1);
  }
  100% {
    opacity:0;
    margin-top: var(--move-up-start-pos);
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
    margin-top: calc(var(--move-up-start-pos) * -1);
  }
  100% {
    opacity:0;
    margin-top: var(--move-up-start-pos);
  }
}